<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 20px;
        }
        h2 {
            color: #333;
            font-family: AppleSystemUIFont;
        }
        div {
            margin-bottom: 10px;
        }
        p {
            margin: 0;
            padding: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    </style>
</head>
<body>
  <h2>Clients:</h2>
    <div>
        <div  th:each="client : ${clients}">
            <p th:text="'ID: ' + ${client.getId()} + ' Name: ' + ${client.getUsername()} + ' '  +
            ' Phone: ' + ${client.getPhoneNumber()} + ' Email: ' + ${client.getEmail()}"></p><hr>
        </div>
    </div>
</body>
</html>