<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Моя інформація</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        color: #333;
        margin: 20px;
      }
      p {
        margin-bottom: 10px;
      }
      a {
          text-decoration: none;
          padding: 10px;
          background-color: #007bff;
          color: #fff;
          border-radius: 5px;
      }
      a:hover {
          background-color: #0056b3;
      }
    </style>
</head>
<body>
    <a href="/my-info/edit">Оновити дані</a><br><br><br>
    <a href="/">На попередню сторінку</a>
      <p th:text="${client.getUsername()}"></p>
      <p th:text="${client.getEmail()}"></p>
      <p th:text="${client.getPhoneNumber()}"></p>
    <a th:href="@{/reservation}">Мої резервації</a>
</body>
</html>